<div class="container">
  <span
    [routerLink]="sharedService.fromGiveComponent ? ['/give'] : ['/get']"
    href="#"
    class="close"
    (click)="exit()"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="35"
      height="35"
      fill="currentColor"
      class="bi bi-x"
      viewBox="0 0 16 16"
    >
      <path
        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
      /></svg
  ></span>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="input-wrap">
      <label for="username">Username</label>
      <input type="text" class="form-control" formControlName="username" />
      <mat-error
        *ngIf="registerForm.get('username')?.hasError('usernameExists')"
      >
        Username already exists
      </mat-error>
    </div>
    <div class="input-wrap">
      <label for="email">Email</label>
      <input type="text" class="form-control" formControlName="email" />
      <mat-error
        *ngIf="
          registerForm.get('email')?.hasError('required') &&
          registerForm.get('email')?.touched
        "
        >Email is required
      </mat-error>
      <mat-error
        *ngIf="
          registerForm.get('email')?.hasError('email') &&
          registerForm.get('email')?.touched
        "
        >Invalid email address
      </mat-error>
      <mat-error *ngIf="registerForm.get('email')?.hasError('emailExists')">
        Email already exists
      </mat-error>
    </div>
    <div class="input-wrap">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>
    <button class="btn-signup" type="submit">Sign up</button>
  </form>
  <div class="login-link">
    <button class="btn-have-account" (click)="alreadyAccount()">Already have an account?</button>
  </div>
</div>
