<section *ngIf="registerState$ | async as state" [ngSwitch]="state.dataState">
  <div class="container" *ngIf="!state.registerSuccess">
    <span [routerLink]="['/']" href="#" class="close" (click)="exit()"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="35"
        height="35"
        fill="currentColor"
        class="bi bi-x"
        viewBox="0 0 16 16"
      >
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
        /></svg
    ></span>
    <div
      *ngIf="state.dataState === DataState.ERROR"
      class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show"
      role="alert"
    >
      {{ state.error }}
      <button
        type="button"
        class="btn-close btn-close-white"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
      <div class="input-wrap">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          [disabled]="state.dataState === DataState.LOADING"
          ngModel
          name="username"
          class="form-control"
          required
          minlength="2"
          id="username"
        />
      </div>
      <div class="input-wrap">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          [disabled]="state.dataState === DataState.LOADING"
          ngModel
          name="email"
          class="form-control"
          required
          minlength="3"
          id="email"
        />
      </div>
      <div class="input-wrap">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          [disabled]="state.dataState === DataState.LOADING"
          ngModel
          name="password"
          class="form-control"
          required
          minlength="4"
          id="password"
        />
      </div>
      <button
        [disabled]="
          state.dataState === DataState.LOADING ||
          registerForm.invalid ||
          registerForm.pristine
        "
        type="submit"
        class="btn-create"
      >
        <span
          *ngIf="state.dataState === DataState.LOADING"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
          style="margin-right: 5px"
        ></span>
        <span *ngIf="state.dataState === DataState.LOADING">Saving...</span>
        <span *ngIf="!(state.dataState === DataState.LOADING)">Create</span>
      </button>
    </form>
    <div class="login-link">
      <div>
        <a
          [ngStyle]="{
            'pointer-events':
              state.dataState === DataState.LOADING ? 'none' : 'auto'
          }"
          [routerLink]="['/login']"
          (click)="goToLogin()"
          >Account Login</a
        >
      </div>
      <div>
        <a
          [ngStyle]="{
            'pointer-events':
              state.dataState === DataState.LOADING ? 'none' : 'auto'
          }"
          [routerLink]="['/resetpassword']"
          >Forgot password?</a
        >
      </div>
    </div>
  </div>
  <!-- Success screen -->
  <div *ngIf="state.registerSuccess" class="container">
    <div class="row justify-content-center my-5">
      <div>
        <div class="card">
          <div class="card-body">
            <span [routerLink]="['/']" href="#" class="close" (click)="exit()"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-x"
                viewBox="0 0 16 16"
              >
                <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                /></svg
            ></span>
            <div>
              <h6>{{ state.message }}</h6>
              <i
                class="bi bi-check-circle-fill"
                style="font-size: 16px; color: green"
              ></i>
              <p class="mt-2" style="font-size: 16px">
                Please access your email and confirm your account.
              </p>
            </div>
            <div class="login-link">
              <div>
                <a [routerLink]="['/login']" (click)="goToLogin()"
                  >Account Login</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
