<div class="container">
  <span
    [routerLink]="sharedService.fromGiveComponent ? ['/give'] : ['/get']"
    href="#"
    class="close"
    (click)="exit()"
    ><svg
      xmlns="http://www.w3.org/2000/svg"
      width="35"
      height="35"
      fill="currentColor"
      class="bi bi-x"
      viewBox="0 0 16 16"
    >
      <path
        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
      /></svg
  ></span>
  <form #f="ngForm" (ngSubmit)="f.form.valid && register()">
    <div class="input-wrap">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        class="form-control"
        name="username"
        [(ngModel)]="user.username"
        #username="ngModel"
        required
      />
    </div>
    <div class="input-wrap">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        class="form-control"
        name="email"
        [(ngModel)]="user.email"
        #email="ngModel"
        required
      />
    </div>
    <div class="input-wrap">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        name="password"
        [(ngModel)]="user.password"
        #password="ngModel"
        required
      />
    </div>
    <button class="btn-signup" type="submit">Sign up</button>
  </form>
</div>
