<footer>
  <div class="footer-wrap">
    <div class="footer-first">
      <p class="footer-headings">From Our Team</p>
      <div class="icon-link">
        <a href="#">Our positive experiences</a>
        <i>icon -> </i>
      </div>
      <div class="icon-link">
        <a href="#">Urban gardens</a>
        <i>icon -> </i>
      </div>
      <div class="icon-link">
        <a href="#">Greenhouses</a>
        <i>icon -> </i>
      </div>
    </div>

    <div class="footer-second">
      <p class="footer-headings menu">Menu</p>
      <div class="icon-link">
        <a href="#">Home</a>
      </div>
      <div class="icon-link">
        <a href="#">About</a>
      </div>
      <div class="icon-link">
        <a href="#">Login</a>
      </div>
    </div>

    <div class="footer-third">
      <p class="footer-headings menu">Information</p>
      <div class="icon-link">
        <a href="#">About</a>
      </div>
      <div class="icon-link">
        <a href="#">Terms & Conditions</a>
      </div>
      <div class="icon-link">
        <a href="#">Users Guide</a>
      </div>
      <div class="icon-link">
        <a href="#">Contact</a>
      </div>
    </div>

    <div class="footer-fourth">
      <p class="footer-headings menu">About Us</p>
      <p class="footer-about-us">
        New approach to harvest<br />
        management providing sustainable, <br />
        shareable approach bringing <br />
        communities together with common goal
      </p>
      <!-- <iframe
        title="Tons of food lost or wasted"
        src="https://www.theworldcounts.com/embeds/counters/101?background_color=#e1e5e3&color=black&font_family=%22Helvetica+Neue%22%2C+Arial%2C+sans-serif&font_size=14"
        style="border: none"
        height="100"
        width="200"
      ></iframe> -->
      <!-- <div class="footer-icons">
        <i><</i>
        <i>&</i>
        <i>@</i>
      </div> -->
    </div>
  </div>
</footer>

