<app-nav-bar
  [class.blur]="
    sharedService.showRegisterComponent ||
    sharedService.showLoginComponent ||
    sharedService.cretaAccount
  "
></app-nav-bar>
<app-login *ngIf="sharedService.showLoginComponent"></app-login>
<app-register
  *ngIf="sharedService.showRegisterComponent || sharedService.cretaAccount"
></app-register>
<div
  [class.blur]="
    sharedService.showRegisterComponent ||
    sharedService.showLoginComponent ||
    sharedService.cretaAccount
  "
>
  <div class="container">
    <a class="register-link" (click)="showRegister()">SIGN UP</a>
    <h3 id="subtitle">How we do it</h3>
    <ul>
      <li>
        <div class="first one">
          <img
            class="img first-img"
            src="https://images.unsplash.com/photo-1609843025783-6a66a8f45e0c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fHNwcm91dHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60"
            alt=""
          />
        </div>
        <div class="second">
          <p class="info-text title">Create an account</p>
          <p class="info-text description">
            ANYONE can collect fruit, even if they don't have fruits or
            vegetables to give. Register above to gain access to your profile,
            where you can view the map with fruit and vegetable locations, find
            new information, and much more.
          </p>
        </div>
      </li>
      <li>
        <div class="first two">
          <img
            class="img middle-img"
            src="https://images.unsplash.com/photo-1619338098121-5925681fc9ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzI0fHxwaWNrJTIwdXAlMjB2ZWdldGFibGVzfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60"
            alt=""
          />
        </div>
        <div class="second location-info">
          <p class="info-text title">Explore offers</p>
          <p class="info-text description">
            Whenever someone has an opportunity to share their harvest, you will
            see the location and the type of harvest available on a map. If you
            spot something you'd like to include in your cooking menu, and if
            you're heading in that direction or if it's near your home, go ahead
            and reserve it!
          </p>
        </div>
      </li>
      <li>
        <div class="first three">
          <img
            class="img last-img"
            src="https://images.unsplash.com/photo-1568581789190-ae90a7da930b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjc3fHxwaWNrJTIwdXAlMjB2ZWdldGFibGVzfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60"
            alt=""
          />
        </div>
        <div class="second">
          <p class="info-text title">Collect</p>
          <p class="info-text description">
            Pick up reserved fruits or vegetables!<svg
              xmlns="http://www.w3.org/2000/svg"
              width="13"
              height="13"
              fill="currentColor"
              class="bi bi-asterisk"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"
              />
            </svg>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
