<div class="background-wrap">
  <ng-container *ngIf="profileState$ | async as state">
    <ng-container>
      <app-nav [user]="state?.appData?.data?.user"></app-nav>
      <section>
        <div class="bg-white d-block d-sm-flex">
          <div class="profile-tab-nav">
            <div class="p-4">
              <div class="img-circle text-center mb-3">
                <span class="camera">
                  <img
                    [src]="state?.appData?.data?.user?.imageUrl"
                    alt="username"
                    class="shadow"
                  />
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-camera-fill right-position"
                    viewBox="0 0 16 16"
                    (click)="fileInput.click()"
                  >
                    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                    <path
                      d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"
                    />
                  </svg>
                  <i
                    class="bi bi-camera-fill right-position"
                    (click)="fileInput.click()"
                  ></i>
                </span>
              </div>
              <!-- <h4 class="text-center">
                {{ state?.appData?.data?.user?.username }}
              </h4> -->
              <h4 class="text-center created-at-info">
                Since
                {{ state?.appData?.data?.user?.createdAt | date : "MMMM d, y" }}
              </h4>
            </div>
            <div
              class="nav flex-column nav-pills align-items-stretch"
              id="v-pills-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <a
                class="nav-link active"
                id="account"
                data-bs-toggle="pill"
                data-bs-target="#account-tab"
                aria-selected="true"
                aria-controls="account"
                role="tab"
              >
                Account
              </a>
              <a
                class="nav-link"
                id="give"
                data-bs-toggle="pill"
                data-bs-target="#give-tab"
                aria-selected="true"
                aria-controls="give"
                role="tab"
              >
                Give
              </a>
              <a
                class="nav-link"
                id="get"
                data-bs-toggle="pill"
                data-bs-target="#get-tab"
                aria-selected="true"
                aria-controls="get"
                role="tab"
              >
                Get
              </a>
              <a
                class="nav-link"
                id="forum"
                data-bs-toggle="pill"
                data-bs-target="#forum-tab"
                aria-selected="true"
                aria-controls="forum"
                role="tab"
              >
                Forum
              </a>
            </div>
          </div>
          <!-- *************** -->
          <!-- ****NAV BAR END**** -->
          <!-- *************** -->
          <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
            <div
              class="tab-pane fade forum-wrap"
              id="forum-tab"
              role="tabpanel"
              aria-labelledby="forum"
              style="min-height: 510px"
            >
              <div class="forum-topic-wrap flex-column">
                <div class="link-wrap">
                  <button
                    class="btn-link"
                    (click)="showGardeningSection()"
                    [ngClass]="{
                      'active-link': activeLink === 'Gardening',
                      'inactive-link': activeLink !== 'Gardening'
                    }"
                  >
                    Gardening
                  </button>
                  <button
                    class="btn-link"
                    (click)="showReciepesSection()"
                    [ngClass]="{
                      'active-link': activeLink === 'Reciepes',
                      'inactive-link': activeLink !== 'Reciepes'
                    }"
                  >
                    Recipes
                  </button>
                  <button
                    class="btn-link"
                    (click)="showImadeSection()"
                    [ngClass]="{
                      'active-link': activeLink === 'Imade',
                      'inactive-link': activeLink !== 'Imade'
                    }"
                  >
                    I made this
                  </button>
                  <button
                    class="btn-link"
                    (click)="showOtherSection()"
                    [ngClass]="{
                      'active-link': activeLink === 'Other',
                      'inactive-link': activeLink !== 'Other'
                    }"
                  >
                    Other
                  </button>
                </div>

                <div>
                  <app-gardening *ngIf="showGardening"></app-gardening>
                  <app-reciepes *ngIf="showReciepes"></app-reciepes>
                  <app-imade *ngIf="showImade"></app-imade>
                  <app-other *ngIf="showOther"></app-other>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade give-wrap"
              id="give-tab"
              role="tabpanel"
              aria-labelledby="give"
              style="min-height: 510px"
            >
              <button class="btn-give" (click)="newGiveForm()">create</button>

              <h5 class="my-give-title">My gives</h5>
              <div class="col-xm-12 gives-table">
                <table class="table table-hover gives-table">
                  <thead>
                    <tr>
                      <th class="text-center" scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <ng-container *ngIf="givesState$ | async as give">
                    <tbody class="table-body">
                      <tr
                        *ngFor="let gives of give?.appData?.data?.give"
                        class="cell-1"
                      >
                        <th class="text-center">
                          <img
                            src="{{ gives.image }}"
                            alt=""
                            class="give-image"
                          />
                        </th>
                        <td>{{ gives.type }}</td>
                        <td>{{ gives.description }}</td>
                        <td
                          [ngStyle]="{
                            color:
                              gives.status === 'available'
                                ? '#2fa14e'
                                : gives.status === 'reserved'
                                ? '#e3a619'
                                : gives.status === 'claimed'
                                ? '#3277ed'
                                : 'black'
                          }"
                        >
                          {{ gives.status }}
                        </td>
                        <td (click)="deleteItem(gives.id)">
                          <img class="img-bin" src="./bin-icon.svg" alt="" />
                        </td>
                        <td>
                          <button
                            type="button"
                            class="btn btn-view"
                            (click)="selectGive(gives.id)"
                          >
                            View
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </ng-container>
                </table>
              </div>
            </div>
            <div
              class="tab-pane fade get-wrap"
              id="get-tab"
              role="tabpanel"
              aria-labelledby="get"
              style="min-height: 510px"
            >
              <h5 class="mb-4 my-give-title">Look for offers</h5>
              <div class="search-wrap">
                <form class="d-flex flex-row position-relative">
                  <input
                    type="search"
                    class="form-control"
                    id="example-search-input"
                    name="search"
                    placeholder="search"
                  />

                  <button
                    class="btn border-0 position-absolute end-0"
                    type="submit"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill=" #808080 "
                      class="bi bi-search"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                      />
                    </svg>
                  </button>
                </form>
                <p>in</p>
                <form class="d-flex flex-row position-relative">
                  <input
                    type="search"
                    class="form-control"
                    placeholder="location"
                    name="search"
                  />

                  <button
                    class="btn border-0 position-absolute end-0"
                    type="submit"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="#808080"
                      class="bi bi-geo-alt"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
                      />
                      <path
                        d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                      />
                    </svg>
                  </button>
                </form>
              </div>
              <!-- <google-map
                height="30em"
                width="60em"
                [center]="center"
                [zoom]="zoom"
                [options]="mapOptions"
              ></google-map> -->
            </div>
            <div
              class="tab-pane fade"
              id="forum-tab"
              role="tabpanel"
              aria-labelledby="forum"
              style="min-height: 510px"
            >
              <h3 class="mb-4">Forum</h3>
            </div>
            <div
              class="tab-pane fade show active"
              id="account-tab"
              role="tabpanel"
            >
              <div class="account-items">
                <div class="account-main-wrap container-fluid">
                  <div class="welcome-container">
                    <div>
                      <div class="greeting-wrap">
                        <div>
                          <h3 class="welcome-text">
                            Hello,<br />
                            <span class="non-bold"
                              >{{
                                state?.appData?.data?.user?.username
                                  | titlecase
                              }}!</span
                            >
                          </h3>
                        </div>
                        <div>
                          <img
                            class="img-lettuce"
                            src="./lettuce.png"
                            alt="lettuce"
                          />
                        </div>
                      </div>
                      <div>
                        <p>Lettuce make a difference!</p>
                      </div>
                    </div>
                    <div class="stats">
                      <div class="result">
                        <p class="nr">0</p>
                        <p>Gives</p>
                      </div>
                      <div class="result">
                        <p class="nr">0</p>
                        <p>Gets</p>
                      </div>
                      <div class="result">
                        <p class="nr">1</p>
                        <p>Level</p>
                      </div>
                    </div>
                  </div>
                  <div class="participation-container">
                    <h5 class="participation-title">My participation</h5>
                  </div>
                </div>

                <div class="row">
                  <div class="thankyou-container">
                    <div class="thankyou-note">
                      <p class="thanks-title">Thanks!</p>
                      <p class="thanks-text">The cucumbers were delicious</p>
                    </div>
                    <div class="thankyou-note">
                      <p class="thanks-title">Hey!</p>
                      <p class="thanks-text">
                        We made amazing salads from your tomatoes
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </ng-container>
  </ng-container>

  <!-- profile image change form -->
  <form enctype="multipart/form-data" style="display: none">
    <input
      type="file"
      #fileInput
      (change)="updatePicture($event.target.files[0])"
      name="image"
      id="image"
      placeholder="file"
      ngModel
      accept="image/*"
    />
  </form>
</div>
