.container {
  display: flex;
  justify-content: flex-start;
  // background-color: #e9ebe1;
  background-color: white;
  gap: 8em;
  margin: 0;
  .side-nav {
    background-color: white !important;
  }
}

.gardening-wrap {
  display: flex;
  flex-direction: column;
  .post-img-content-position {
    display: flex;
    gap: 2em;
    .title-wrap {
      display: flex;
      gap: 0.5em;
      align-items: center;
      margin-bottom: 0.5em;
    }
    .user-img {
      width: 1.5em;
      margin: 0;
      height: 1.5em;
      border-radius: 100%;
    }
    h6 {
      margin: 0;
    }
    .card-date {
      margin: 0;
      padding-top: 0.2em;
    }
    .post-text-wrap {
      padding-top: 2.2em;
    }
    .dots-icon-wrap {
      margin-left: auto;
      .edit-delete-icon:hover {
        background-color: #f6f6f7;
      }
    }
  }
  .like-icon-amount {
    display: flex;
    gap: 0.3em;
    align-items: center;
    margin-top: 0.5em;
    img {
      width: 1.7em;
      height: 1.7em;
      background-image: url(./gray-like.png);
      margin: 0;
    }
    p {
      margin: 0;
      font-size: 12px;
    }
  }
  // .likes-icon {
  //   background-image: url(./like-icon.png);
  //   width: 1em;
  //   height: 1em;
  //   margin: 1em 0 0 0;
  // }
  // .offer-icons {
  //   display: flex;
  //   .offer-to-like-icon {
  //     background-image: url(./like-icon.png);
  //     width: 2em;
  //     height: 2em;
  //   }
  //   .offer-to-comment-icon {
  //     background-image: url(./chat.png);
  //     width: 1.9em;
  //     height: 1.9em;
  //   }
  // }
}
.gardening-wrap {
  width: 60em;
  padding: 0.5em 0.5em 0.1em 0.5em;
  margin-top: 2em;
  cursor: pointer;
  // transition: transform 0.3s ease-in-out;
  // &:hover {
  //   transform: scale(1.005);
  // }
  img {
    width: 16em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .card-text {
    font-size: 13px;
    margin: 0.2em;
  }
  .card-date {
    font-size: 10px;
    color: rgb(195, 195, 195);
  }
  .add-comment-wrap {
    display: flex;
    gap: 0.5em;
    margin-top: 1.5em;
    .comment-form-photo {
      width: 2em;
      height: 2em;
      border-radius: 100%;
      border: solid 0.5px darkgray;
      align-self: flex-start;
      margin: 0;
    }
    .comment-form {
      flex-grow: 1;
      .comment-input-wrap {
        position: relative;
        border-radius: 4px;
        background-color: #f7f6f8;

        // padding: 10px;
        .icon-send {
          background-color: transparent;
          // width: calc(100% - 5px);
          // padding-right: 20px;
        }
        .icon-send:focus {
          outline: none;
        }
        .submit-button {
          position: absolute;
          bottom: 2px;
          right: 2px;
          background: transparent;
          border: none;
          cursor: pointer;
          padding: 0;
          .button-content {
            display: flex;
            align-items: center;
            .bi-send {
              position: absolute;
              bottom: 5px;
              right: 0.1px;
            }
          }
        }
      }
    }
  }
  .view-comment-wrap {
    margin-top: 1em;
    .view-comment {
      text-decoration: none;
      color: #65676b;
    }
    .view-comment:hover {
      text-decoration: underline;
    }
  }

  .comment-wrap {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1.5em;
    .comment {
      display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      align-items: center;
      align-content: center;
      gap: 1em;
      .comment-container {
        display: flex;
        gap: 0.3em;
        flex-grow: 2;
        margin-top: 0.8em;
        .user-img-icon {
          width: 1.7em !important;
          margin: 0;
          height: 1.7em;
          border-radius: 100%;
          text-align: center;
          transition: background-color 0.25s;
        }
        .comment-content-like-icon-wrap {
          flex-grow: 1;
          .comment-content-container {
            display: flex;
            flex-direction: row;
            gap: 0.3em;
            .comment-content-wrap {
              display: flex;
              flex-grow: 1;
              flex-direction: column;
              align-items: flex-start;
              padding: 0.6em;
              border-radius: 7px;
              background-color: #f6f6f7;
              cursor: default;
              .username {
                font-size: 13px;
                font-weight: 600;
                // margin-bottom: 0.2em;
                color: rgb(5, 5, 5);
                margin: 0;
              }
              .comment-text {
                border: none;
                // padding: 0.3em;
                word-break: break-all;
                word-wrap: break-word;
                overflow-wrap: break-word;
                white-space: break-spaces;
                font-size: 15px;
                font-weight: 400;
                color: rgb(5, 5, 5);
                margin: 0;
              }
            }
            .edit-delete-icon {
              align-self: center;
              border-radius: 100%;
              padding: 0.3em;
              width: 1.5em;
              height: 1.5em;
              cursor: pointer;
              // display: flex;
              justify-content: center;
              align-items: center;
              transition: all 0.2s ease-in-out;
            }
            .not-logged-padding {
              width: 1.5em;
              height: 1.5em;
            }
          }

          .comment-below-interaction {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            .like-span {
              padding: 0 1.5em 0 1em;
            }
            .like-span,
            .reply-span {
              font-size: 12px;
              color: rgb(101, 103, 107);
              font-weight: 700;
              cursor: pointer;
            }
            .like-span:hover,
            .reply-span:hover {
              text-decoration: underline;
            }
            .reply-span {
              padding: 0 1.5em 0 0;
            }
            .date-span {
              font-size: 12px;
              font-weight: 400;
              color: rgb(101, 103, 107);
            }
            .blue-like-wrap {
              // display: inline;
              display: flex;
              // align-self: flex-end;
              gap: 0.2em;
              padding: 0 1em 0 0;
              margin-right: 1em;
              height: 1.2em;
              .blue-like {
                background-image: url(./blue-like.png);
                max-height: 20px;
                max-width: 20px;
                object-fit: cover;
              }
            }
          }
          .reply-form {
            flex-grow: 1;
            margin-top: 1em;
            padding-right: 1.5em;
            .reply-input-wrap {
              position: relative;
              border-radius: 4px;
              .icon-send {
                background-color: transparent;
              }
              .icon-send:focus {
                outline: none;
              }
              .btn-reply {
                position: absolute;
                bottom: 2px;
                right: 8px;
                background: transparent;
                border: none;
                cursor: pointer;
                padding: 0;
                .button-content {
                  display: flex;
                  align-items: center;
                  .bi-send {
                    position: absolute;
                    bottom: 5px;
                    right: 0.1px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .reply-wrap {
      padding: 0 0 0 3em;
      .view-replies-arrow {
        padding-top: 0.8em;
        a {
          display: flex;
          gap: 0.5em;
        }
        .bi-arrow-return-right {
          margin-top: 0.2em;
        }
      }
    }
  }
}
.pagination-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
  .btn-pagination {
    border: solid 0.8px darkgray;
    padding: 0.2em 0.6em 0.35em 0.6em;
  }
  .pagination-display {
    justify-content: center;
    padding: 0.2em 0.8em 0.2em 0.8em;
    p {
      margin: 0;
    }
  }
}

textarea::placeholder {
  color: #bebebe;
  font-size: 13px;
}
.like {
  width: 1em !important;
  border: solid 0.5px #a39cff;
  border-radius: 100%;
  background-image: url(./like.png);
}
.bi-send {
  width: 2em;
}
.gardening-wrap.no-hover:hover {
  transform: none;
}

.post-wrap {
  justify-self: center;
}

.liked {
  color: blue !important;
}

.not-liked {
  background-color: gray;
}

.edit-circle {
  align-self: center;
}
.colored-username {
  color: #0000ff;
}
.cancel {
  color: #e8d645 !important;
}
.card-body {
  border: 0.5px solid #444c41;
  border-radius: 4px;
  padding: 1.5em;
}
