<ng-container
  *ngIf="gardeningPostState$ | async as state"
  [ngSwitch]="state.dataState"
>
  <div class="add-post-wrap">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="27"
      height="27"
      fill="#808080 "
      class="bi bi-plus-circle"
      viewBox="0 0 16 16"
      (click)="newGardeningPostForm()"
    >
      <path
        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
      />
      <path
        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
      />
    </svg>
  </div>

  <div
    class="card mb-3 gardening-wrap"
    *ngFor="let post of state?.appData?.data?.posts"
  >
    <!-- <img src="..." class="card-img-top" alt="..." /> -->
    <div class="card-body">
      <h6 class="card-title">{{ post?.title }}</h6>
      <p class="card-text">
        {{ post?.description }}
      </p>
      <p class="card-text">
        <small class="text-muted"
          >Last updated {{ formatTimeDifference(post.date | date) }}</small
        >
      </p>
    </div>
  </div>
  <div class="pagination-wrap">
    <button
      class="btn-pagination"
      [disabled]="currentPage === 1"
      (click)="changePage(currentPage - 1)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-chevron-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
        />
      </svg>
    </button>
    <div class="pagination-display">
      <p>{{ currentPage }}</p>
    </div>
    <button
      class="btn-pagination"
      [disabled]="count < 10"
      (click)="changePage(currentPage + 1)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-chevron-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </button>
  </div>
</ng-container>
