
<div class="container">
  <div class="gardening-wrap">
    <div
      class="tab-pane forum-wrap"
      id="forum-tab"
      role="tabpanel"
      aria-labelledby="forum"
    >
      <div class="forum-topic-wrap flex-column">
      </div>
    </div>
    <ng-container
      *ngIf="gardeningPostState$ | async as state"
      [ngSwitch]="state.dataState"
    >
      <app-add-form (click)="newGardeningPostForm()"></app-add-form>
      <div
        class="mb-3 gardening-wrap"
        *ngFor="let post of state?.appData?.data?.posts; let i = index"
        [ngClass]="{ 'no-hover': clickedIndex === i }"
      >
        <div class="card-body">
          <div class="post-img-content-position">
            <div>
              <div class="title-wrap">
                <div>
                  <img
                    class="user-img"
                    src="{{ post.user_image_url }}"
                    alt=""
                  />
                </div>
                <div>
                  <h6 class="card-title">{{ post?.title }}</h6>
                  <p *ngIf="clickedIndex !== i" class="card-date">
                    Last updated
                    {{ formatTimeDifference(post.date | date) }}
                  </p>
                </div>
              </div>
              <img src="{{ post.img_url }}" alt="post image" />
            </div>
            <div class="post-text-wrap">
              <p *ngIf="clickedIndex !== i" class="card-text">
                {{ post?.description | shorten : 500 }}
              </p>
              <p *ngIf="clickedIndex === i">{{ post?.description }}</p>
            </div>
            <div class="dots-icon-wrap">
              <ng-container
                *ngIf="userState$ | async as user"
                [ngSwitch]="user.dataState"
              >
                <div
                  *ngIf="
                    user?.appData?.data?.user?.imageUrl === post.user_image_url
                  "
                  class="dropdown edit-delete-icon"
                  matTooltip="Edit or delete"
                  matTooltipPosition="above"
                  [matTooltipDisabled]="!toggleActive"
                >
                  <div
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    (click)="disableTooltip()"
                  >
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-three-dots"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                        /></svg
                    ></span>
                  </div>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <!-- <a class="dropdown-item" (click)="editComment(j)">Edit </a> -->
                    <a
                      class="dropdown-item"
                      (click)="deleteGardeningPost(post.id)"
                      >Delete</a
                    >
                  </div>
                </div>
                <div
                  class="not-logged-padding"
                  *ngIf="
                    user?.appData?.data?.user?.imageUrl !== post.user_image_url
                  "
                ></div>
              </ng-container>
            </div>
          </div>
          <ng-container *ngIf="userState$ | async as state">
            <div class="like-icon-amount">
              <img
                [src]="
                  isLikedPost(post.id) ? './blue-like.png' : './gray-like.png'
                "
                alt="like icon"
                (click)="updatePostLike(post.id, state?.appData?.data?.user.id)"
              />
              <p *ngIf="post.likes > 0 && !isLikedPost(post.id)">
                {{ post.likes }}
              </p>
              <p
                *ngIf="
                  post.likes > 0 &&
                  post.likes != 2 &&
                  post.likes != 1 &&
                  isLikedPost(post.id)
                "
              >
                You and {{ post.likes - 1 }} others
              </p>
              <p *ngIf="post.likes == 2 && isLikedPost(post.id)">
                You and {{ post.likes - 1 }} other
              </p>
            </div>
          </ng-container>
          <hr />
          <div class="form-group textarea-container add-comment-wrap">
            <ng-container
              *ngIf="userState$ | async as user"
              [ngSwitch]="user.dataState"
            >
              <img
                class="comment-form-photo"
                src="{{ user?.appData?.data?.user?.imageUrl }}"
                alt="profile photo icon"
              />
            </ng-container>
            <form
              class="comment-form"
              #commentForm="ngForm"
              (ngSubmit)="addGardeningPostComment(commentForm)"
            >
              <div class="comment-input-wrap">
                <textarea
                  class="form-control icon-send"
                  type="text"
                  ngModel
                  name="comment_text"
                  id="comment_text"
                  placeholder="Write a comment..."
                ></textarea>
                <button
                  type="submit"
                  (click)="getDetails(i, post.id)"
                  class="submit-button"
                >
                  <span class="button-content">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="#0000ff"
                      class="bi bi-send"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"
                      />
                    </svg>
                  </span>
                </button>
              </div>
            </form>
          </div>
          <div class="view-comment-wrap">
            <a class="view-comment" (click)="getDetails(i, post.id)"
              >View comments</a
            >
          </div>
          <div
            *ngIf="allCommentsState$ | async as comments"
            [ngSwitch]="comments.dataState"
            class="comment-wrap"
          >
            <ng-container *ngIf="clickedIndex === i">
              <div
                *ngFor="
                  let commentWithReplies of commentsWithReplies;
                  let j = index
                "
              >
                <div class="comment">
                  <div class="comment-container">
                    <!-- Display the main comment -->
                    <div>
                      <img
                        src="{{ commentWithReplies.comment.user_image_url }}"
                        alt="user image"
                        class="user-img-icon"
                      />
                    </div>
                    <div class="comment-content-like-icon-wrap">
                      <div class="comment-content-container">
                        <div class="comment-content-wrap">
                          <p class="username">
                            {{ commentWithReplies.comment.username }}
                          </p>
                          <p
                            *ngIf="currentEditModeIndex !== j"
                            class="comment-text"
                          >
                            {{ commentWithReplies.comment.comment_text }}
                          </p>
                          <app-comment-form
                            *ngIf="currentEditIndex === j && editMode"
                            [commentText]="
                              commentWithReplies.comment.comment_text
                            "
                            [commentId]="commentWithReplies.comment.id"
                            [fromGarden]="fromGardeningComponent"
                            [editMode]="editMode$ | async"
                          ></app-comment-form>
                        </div>
                        <div class="edit-circle">
                          <ng-container
                            *ngIf="userState$ | async as user"
                            [ngSwitch]="user.dataState"
                          >
                            <div
                              *ngIf="
                                user?.appData?.data?.user?.username ===
                                commentWithReplies.comment.username
                              "
                              class="dropdown edit-delete-icon"
                              matTooltip="Edit or delete"
                              matTooltipPosition="above"
                              [matTooltipDisabled]="!toggleActive"
                            >
                              <div
                                id="dropdownMenuButton"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                                (click)="disableTooltip()"
                              >
                                <span>
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-three-dots"
                                    viewBox="0 0 16 16"
                                  >
                                    <path
                                      d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                                    /></svg
                                ></span>
                              </div>
                              <div
                                class="dropdown-menu"
                                aria-labelledby="dropdownMenuButton"
                              >
                                <a
                                  class="dropdown-item"
                                  (click)="editComment(j)"
                                  >Edit
                                </a>
                                <a
                                  class="dropdown-item"
                                  (click)="
                                    deleteComment(commentWithReplies.comment.id)
                                  "
                                  >Delete</a
                                >
                              </div>
                            </div>
                            <div
                              class="not-logged-padding"
                              *ngIf="
                                user?.appData?.data?.user?.username !==
                                commentWithReplies.comment.username
                              "
                            ></div>
                          </ng-container>
                        </div>
                      </div>
                      <div class="comment-below-interaction">
                        <div>
                          <span
                            class="like-span"
                            (click)="
                              updateCommentLike(
                                state?.appData?.data?.user.id,
                                commentWithReplies.comment.id
                              )
                            "
                            [ngClass]="{
                              liked: isLikedComment(
                                commentWithReplies.comment.id
                              )
                            }"
                            >Like</span
                          >

                          <span class="reply-span" (click)="showReplyArea(j)"
                            >Reply</span
                          >
                          <span class="date-span">{{
                            commentWithReplies.comment.date | dateFormat
                          }}</span>
                          <span
                            class="like-span cancel"
                            *ngIf="editMode && currentEditIndex === j"
                            (click)="cancelCommentEdit()"
                            >Cancel</span
                          >
                        </div>
                        <div class="blue-like-wrap">
                          <img
                            src="./blue-like.png"
                            alt=""
                            class="blue-like"
                            *ngIf="commentWithReplies.comment.likes > 0"
                          />
                          <p *ngIf="commentWithReplies.comment.likes > 0">
                            {{ commentWithReplies.comment.likes }}
                          </p>
                        </div>
                        <!-- Reply form here -->
                      </div>
                      <form
                        class="reply-form"
                        #replyForm="ngForm"
                        (ngSubmit)="
                          addGardeningPostCommentReply(
                            replyForm,
                            1,
                            commentWithReplies.comment.id,
                            true
                          )
                        "
                        *ngIf="isReply && selectedCommentIndex === j"
                      >
                        <div class="reply-input-wrap">
                          <textarea
                            class="form-control icon-send"
                            type="text"
                            ngModel
                            name="comment_text"
                            id="comment_text"
                            placeholder="Write a reply to {{
                              commentWithReplies.comment.username
                            }}"
                          ></textarea>
                          <button class="btn-reply" type="submit">
                            <span class="button-content">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="#0000ff"
                                class="bi bi-send"
                                viewBox="0 0 16 16"
                              >
                                <path
                                  d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"
                                />
                              </svg>
                            </span>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div
                  *ngFor="
                    let reply of commentWithReplies.replies;
                    let l = index
                  "
                  class="reply-wrap"
                >
                  <div class="view-replies-arrow" *ngIf="l === 0">
                    <a (click)="goToReplies(commentWithReplies.comment.id)">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-return-right"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"
                        />
                      </svg>
                      <p *ngIf="commentWithReplies.replies.length > 1">
                        View all {{ commentWithReplies.replies.length }} replies
                      </p>
                      <p *ngIf="commentWithReplies.replies.length === 1">
                        View 1 reply
                      </p>
                    </a>
                  </div>
                  <div
                    class="comment"
                    *ngIf="
                      viewReplies &&
                      reply.parent_comment_id === selectedMainCommentId
                    "
                  >
                    <div class="comment-container">
                      <div>
                        <img
                          src="{{ reply.user_image_url }}"
                          alt="user image"
                          class="user-img-icon"
                        />
                      </div>
                      <!-- <p class="username">
                        {{ commentWithReplies.comment.username }}
                      </p>
                      <p
                        *ngIf="currentEditModeIndex !== j"
                        class="comment-text"
                      >
                        {{ commentWithReplies.comment.comment_text }}
                      </p> -->
                      <div class="comment-content-like-icon-wrap">
                        <div class="comment-content-container">
                          <div class="comment-content-wrap">
                            <p class="username">
                              {{ reply.username }}
                            </p>
                            <p
                              *ngIf="currentEditIndex !== reply.date"
                              class="comment-text"
                            >
                              <span class="colored-username"
                                >@{{ reply.reply_username }}</span
                              >
                              {{ reply.comment_text }}
                            </p>
                            <app-comment-form
                              *ngIf="currentEditIndex === reply.date"
                              [commentText]="reply.comment_text"
                              [commentId]="reply.id"
                              [fromGarden]="fromGardeningComponent"
                              [editMode]="editMode$ | async"
                            ></app-comment-form>
                          </div>
                          <div class="edit-circle">
                            <ng-container
                              *ngIf="userState$ | async as user"
                              [ngSwitch]="user.dataState"
                            >
                              <div
                                *ngIf="
                                  user?.appData?.data?.user?.username ===
                                  reply.username
                                "
                                class="dropdown edit-delete-icon"
                                matTooltip="Edit or delete"
                                matTooltipPosition="above"
                                [matTooltipDisabled]="!toggleActive"
                              >
                                <div
                                  id="dropdownMenuButton"
                                  data-bs-toggle="dropdown"
                                  aria-haspopup="true"
                                  aria-expanded="false"
                                  (click)="disableTooltip()"
                                >
                                  <span>
                                    <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      width="16"
                                      height="16"
                                      fill="currentColor"
                                      class="bi bi-three-dots"
                                      viewBox="0 0 16 16"
                                    >
                                      <path
                                        d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                                      /></svg
                                  ></span>
                                </div>
                                <div
                                  class="dropdown-menu"
                                  aria-labelledby="dropdownMenuButton"
                                >
                                  <a
                                    class="dropdown-item"
                                    (click)="editComment(reply.date)"
                                    >Edit
                                  </a>
                                  <a
                                    class="dropdown-item"
                                    (click)="deleteComment(reply.id)"
                                    >Delete</a
                                  >
                                </div>
                              </div>
                              <div
                                class="not-logged-padding"
                                *ngIf="
                                  user?.appData?.data?.user?.username !==
                                  reply.username
                                "
                              ></div>
                            </ng-container>
                          </div>
                        </div>
                        <div class="comment-below-interaction">
                          <div>
                            <span
                              class="like-span"
                              (click)="
                                updateCommentLike(
                                  state?.appData?.data?.user.id,
                                  reply.id
                                )
                              "
                              [ngClass]="{
                                liked: isLikedComment(reply.id)
                              }"
                              >Like</span
                            >
                            <span
                              class="reply-span"
                              (click)="showReplyReplyArea(reply.date)"
                              >Reply</span
                            >
                            <span class="date-span">{{
                              reply.date | dateFormat
                            }}</span>
                            <span
                              class="like-span cancel"
                              *ngIf="
                                editMode && currentEditIndex === reply.date
                              "
                              (click)="cancelCommentEdit()"
                              >Cancel</span
                            >
                          </div>
                          <div class="blue-like-wrap">
                            <img
                              src="./blue-like.png"
                              alt=""
                              class="blue-like"
                              *ngIf="reply.likes > 0"
                            />
                            <p *ngIf="reply.likes > 0">
                              {{ reply.likes }}
                            </p>
                          </div>
                          <!-- Reply form here -->
                        </div>
                        <form
                          class="reply-form"
                          #replyForm="ngForm"
                          (ngSubmit)="
                            addGardeningPostCommentReply(
                              replyForm,
                              reply.id,
                              commentWithReplies.comment.id,
                              false
                            )
                          "
                          *ngIf="
                            isReplyReply &&
                            selectedCommentCommentIndex === reply.date
                          "
                        >
                          <div class="reply-input-wrap">
                            <textarea
                              class="form-control icon-send"
                              type="text"
                              ngModel
                              name="comment_text"
                              id="comment_text"
                              placeholder="Write a reply to {{
                                reply.username
                              }}"
                            ></textarea>
                            <button class="btn-reply" type="submit">
                              <span class="button-content">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="16"
                                  height="16"
                                  fill="#0000ff"
                                  class="bi bi-send"
                                  viewBox="0 0 16 16"
                                >
                                  <path
                                    d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"
                                  />
                                </svg>
                              </span>
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- reply container end -->
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="pagination-wrap">
        <button
          class="btn-pagination"
          [disabled]="currentPage === 1"
          (click)="changePage(currentPage - 1)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            fill="currentColor"
            class="bi bi-chevron-left"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
            />
          </svg>
        </button>
        <div class="pagination-display">
          <p>{{ currentPage }}</p>
        </div>
        <button
          class="btn-pagination"
          [disabled]="count < 10"
          (click)="changePage(currentPage + 1)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            fill="currentColor"
            class="bi bi-chevron-right"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </button>
      </div>
    </ng-container>
  </div>
</div>
