.container {
  display: flex;
  margin: 0;
  min-height: 100vh;
  .side-nav {
    // background-color: #deebec !important;
  }
  .give-wrap {
    margin-left: 5em;
    padding: 2em;
    .my-give-title {
      font-weight: 300;
      margin-bottom: 1.5em;
      margin-top: 1.5em;
    }
    .gives-table {
      // border-radius: 7px;
      // background-color: #f2f7fa;
      .give-image {
        width: 200px;
      }
      .btn-view {
        background-color: lightgrey;
      }
    }
  }
}
.img-bin {
  background-image: url(./bin-icon.svg);
  width: 1.5em;
}
.side-nav {
  background-color: white !important;
}
