<ng-container *ngIf="profileState$ | async as state">
  <app-nav [user]="state?.appData?.data?.user"></app-nav>
</ng-container>
<div class="container">
  <div class="side-nav">
    <app-dash-side-nav></app-dash-side-nav>
  </div>
  <div
    class="tab-pane give-wrap"
    id="give-tab"
    role="tabpanel"
    aria-labelledby="give"
  >
    <button class="btn-give" (click)="newGiveForm()">create</button>

    <h5 class="my-give-title">My gives</h5>
    <div class="col-xm-12 gives-table">
      <table class="table table-hover gives-table">
        <thead>
          <tr>
            <th class="text-center" scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <ng-container *ngIf="givesState$ | async as give">
          <tbody class="table-body">
            <tr *ngFor="let gives of give?.appData?.data?.give" class="cell-1">
              <th class="text-center">
                <img src="{{ gives.image }}" alt="" class="give-image" />
              </th>
              <td>{{ gives.type }}</td>
              <td>{{ gives.description }}</td>
              <td
                [ngStyle]="{
                  color:
                    gives.status === 'available'
                      ? '#2fa14e'
                      : gives.status === 'reserved'
                      ? '#e3a619'
                      : gives.status === 'claimed'
                      ? '#3277ed'
                      : 'black'
                }"
              >
                {{ gives.status }}
              </td>
              <td (click)="deleteItem(gives.id)">
                <img class="img-bin" src="./bin-icon.svg" alt="" />
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-view"
                  (click)="selectGive(gives.id)"
                >
                  View
                </button>
              </td>
            </tr>
          </tbody>
        </ng-container>
      </table>
    </div>
  </div>
</div>
