.container {
  position: absolute;
  width: 37em;
  margin-top: 9em;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border: solid 0.5px #1e5e43;
  background-color: white;
  padding: 3em 8em 6em 8em;
  .close {
    color: #005d96;
    top: 0;
    right: 0;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 0.7em;
    cursor: pointer;
  }
  h3 {
    color: #00361e;
  }
  form {
    .form-wrap {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      label {
        font-size: 14px;
        color: #394b41;
      }
      input {
        padding: 0.5em;
        border: 0.8px solid #1e5e43;
        border-radius: 5px;
      }
      .textarea-container {
        margin-top: 1.5em;
      }
    }
    .btn-save {
      letter-spacing: 0.7px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 0.8em;
      cursor: pointer;
      border-radius: 5px;
      padding: 10px 35px;
      transition: all 0.5s ease-in-out;
      color: #4e4b93;
      background-color: #fff;
      border: 0.9px solid darkgray;
      margin-top: 1em;
    }
    .btn-save:hover {
      background-color: #4e4b93;
      border: 0.9px solid #4e4b93;
      color: white;
    }
  }
}

.title-input {
  margin-bottom: 2em;
}

.content-input,
.title-input {
  width: 22em;
}

.file-input textarea {
  width: 22em;
}

.active {
  background-color: #d7e7da !important;
}

::placeholder {
  color: #bebebe;
  font-size: 12px;
}

.blur {
  filter: blur(2px) opacity(0.2);
}
