.container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  .side-nav {
    background-color: #deebec !important;
  }
}

.gardening-wrap {
  display: flex;
  flex-direction: column;
  .post-img-content-position {
    display: flex;
    gap: 2em;
    .post-title-img-wrap {
      display: flex;
      gap: 0.7em;
      align-items: center;
      margin: 1em 0 1em 0;
      .user-img {
        width: 1.5em;
        margin: 0;
        height: 1.5em;
        border-radius: 100%;
      }
      h6 {
        margin: 0;
      }
    }
  }
}

.add-post-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60em;
  height: 4em;
  border: 0.8px solid darkgray;
  margin: 0 !important;
  border-radius: 7px;
  cursor: pointer;
  background-color: #f1f1f1;
  svg {
    align-self: center;
  }
}
.gardening-wrap {
  width: 60em;
  padding: 0.5em;
  margin-top: 2em;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.005);
  }
  .bi-chevron-down {
    float: right;
  }
  .bi-chevron-up {
    float: right;
  }
  img {
    width: 16em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .card-text {
    font-size: 13px;
    margin: 0.2em;
  }
  .card-date {
    font-size: 10px;
    color: rgb(195, 195, 195);
  }
  .add-comment-wrap {
    display: flex;
    gap: 0.5em;
    margin-top: 1.5em;
    .comment-form-photo {
      width: 2em;
      height: 2em;
      border-radius: 100%;
      border: solid 0.5px darkgray;
      align-self: flex-start;
      margin: 0;
    }
    .comment-form {
      flex-grow: 1;
      .comment-input-wrap {
        text-align: right;
        .content-input {
          height: 7em;
        }
        .btn-comment {
          margin-top: 0.6em;
          border: solid 0.9px darkgray;
          letter-spacing: 0.7px;
          text-transform: uppercase;
          font-size: 10px;
          cursor: pointer;
          border-radius: 5px;
          padding: 5px 10px;
        }
      }
    }
  }
  .comment-wrap {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1.5em;
    .comment {
      display: flex;
      justify-content: space-between;
      gap: 1em;
      .comment-display-wrap {
        display: flex;
        align-items: flex-start;
        flex-grow: 1;
        gap: 1em;
        padding: 0.5em;
        border-radius: 7px;
        background-color: #f6f6f7;
        cursor: default;
        .comment-input {
          border: none;
          font-size: 13px;
        }
      }
      .edit-delete-icon {
        align-self: center;
        border-radius: 100%;
        padding: 0.3em;
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease-in-out;
      }
      .not-logged-padding {
        width: 1.5em;
        height: 1.5em;
      }
      .user-img-icon {
        width: 1.5em !important;
        margin: 0;
        height: 1.5em;
        border-radius: 100%;
        text-align: center;
        transition: background-color 0.25s;
      }
      .username {
        font-weight: bolder;
        margin-bottom: 0.2em;
      }
    }
  }
}
.pagination-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
  .btn-pagination {
    border: solid 0.8px darkgray;
    padding: 0.2em 0.6em 0.35em 0.6em;
  }
}

.pagination-display {
  justify-content: center;
  padding: 0.2em 0.8em 0.2em 0.8em;
  p {
    margin: 0;
  }
}

textarea::placeholder {
  color: #bebebe;
  font-size: 13px;
}
// .like {
//   width: 1em !important;
//   border: solid 0.5px #a39cff;
//   border-radius: 100%;
//   background-image: url(./like.png);
// }
.bi-send {
  width: 2em;
}
.gardening-wrap.no-hover:hover {
  transform: none;
}

.edit-delete-icon:hover {
  background-color: #f6f6f7;
}
.post-wrap {
  justify-self: center;
}
.active-link {
  color: #ff8b71;
}
.inactive-link {
  color: black;
}
.forum-topic-wrap {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2em;
}

.forum-wrap {
  .forum-topic-wrap {
    align-items: center;
    margin: 0em 2em 2em 2em;
    .link-wrap {
      display: flex;
      gap: 2em;
      justify-content: space-around;
      margin-bottom: 2em;
      button {
        font-weight: 400;
        border: none;
        text-decoration: none;
        background: white;
        cursor: pointer;
      }
    }
  }
}
