<nav class="main-nav">
  <ul class="main-nav-list">
    <div class="logo-container">
      <div>
        <li>
          <img
            [routerLink]="['/home']"
            routerLinkActive="active-link"
            alt=""
            src="./sprouts.svg"
            class="logo-img"
          />
        </li>
      </div>
    </div>
    <div class="about-login-container">
      <div class="about-menu">
        <li class="li-rote" *ngIf="!isLoggedIn">
          <a [routerLink]="['/about']" routerLinkActive="active-link">About</a>
        </li>
      </div>
      <div class="about-menu">
        <li class="li-rote" *ngIf="isLoggedIn">
          <!-- <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-envelope"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
            />
          </svg> -->
        </li>
      </div>
      <div class="about-menu">
        <li class="li-rote" *ngIf="isLoggedIn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-bell"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"
            />
          </svg>
        </li>
      </div>
      <div class="about-menu">
        <li class="li-rote" *ngIf="isLoggedIn">
          <a [routerLink]="['/dashboard']" routerLinkActive="active-link"
            >Profile</a
          >
        </li>
      </div>

      <div class="login-menu">
        <li class="li-rote">
          <button class="btn-login" *ngIf="!isLoggedIn" (click)="showLogin()">
            Login
          </button>
        </li>
        <li class="nav-item dropdown profile-img-wrap" *ngIf="isLoggedIn">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownBlog"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              [src]="user?.imageUrl"
              [alt]="user?.username"
              class="user-avatar-md rounded-circle"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownBlog"
          >
            <li>
              <a class="dropdown-item" [routerLink]="['/profile']"
                ><i style="padding-right: 8px" class="bi bi-person-circle"></i
                >Settings</a
              >
            </li>
            <li style="cursor: pointer">
              <a class="dropdown-item" (click)="logOut()"
                ><i
                  style="padding-right: 8px"
                  class="bi bi-box-arrow-in-right"
                ></i
                >Logout</a
              >
            </li>
          </ul>
        </li>
        <!-- <li class="li-rote">
          <button class="btn-logout" *ngIf="isLoggedIn" (click)="logOut()">
            Logout
          </button>
        </li> -->
      </div>
    </div>
  </ul>
</nav>
