.comment-content {
  background-color: #f6f6f7;
  margin: 0 !important;
  width: 50em;
  font-size: 13px;
  outline: none;
  border: 0.5px solid #f6f6f7;
}
.comment-content:focus,
.comment-content:hover {
  outline: none;
  box-shadow: none !important;
  border: 0.5px solid #f6f6f7;
}
