.container {
  margin: 0;
  .side-bar {
    border: solid 1px black;
    width: 10em;
    height: 50em;
  }
  ul {
    display: flex;
    flex-direction: column;
    li {
      list-style-type: none;
    }
  }
}
