.main-nav-list {
  list-style: none;

  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .about-login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
  }
}

.logo-img {
  background-image: url(./logotwo.svg);
  width: 85px;
  height: 85px;
  cursor: pointer;
}

ul {
  padding: 0%;
}

.logo {
  font-size: 0.9rem;
  margin-right: 600px;
  align-self: center;
  color: #571f18;
}

.active-link {
  font-weight: bold;
}

a {
  letter-spacing: 0.7px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8em;
}
.li-rote:hover {
  transform: scale(1.1);
}
.li-rote {
  transition: all 0.3s ease-in-out;
}
.btn-login {
  letter-spacing: 0.7px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 35px;
  transition: all 0.4s ease-in-out;
  color: #556b2f;
  background-color: #fff;
  border: 0.8px solid #556b2f;
}
button:hover {
  transform: scale(1);
}

@media screen and (max-width: 760px) {
  .main-nav-list {
    margin-left: 2em;
    display: flex;
    gap: 35em;
  }
  .about-menu,
  .login-menu,
  .logo-name {
    display: none;
  }
}

@media screen and (min-width: 760px) {
  .main-nav-list {
    margin-left: 3em;
    margin-right: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .burger-menu {
    display: none;
  }
}
