<div class="container">
  <nav class="main-nav">
    <ul class="main-nav-list">
      <div class="logo-container">
        <div>
          <li>
            <img src="./logo.svg" alt="" class="logo-img" />
          </li>
        </div>
        <div>
          <li>
            <a class="logo" href="#">Harvest Share</a>
          </li>
        </div>
      </div>
      <div class="about-login-container">
        <div>
          <li class="li-rote">
            <!-- <a [routerLink]="['/about']" routerLinkActive="active-link">About</a> -->
            <a href="#">About</a>
          </li>
        </div>
        <div>
          <li class="li-rote">
            <button class="btn-login">Login</button>
          </li>
        </div>
      </div>
    </ul>
  </nav>
</div>
