<div class="increment-container">
  <div class="counter-container">
    <i class="fab fa-twitter fa-3x"></i>
    <div class="counter" data-target="12000">{{ usersTottal }}</div>
    <span>Our Users</span>
  </div>

  <div class="counter-container">
    <i class="fab fa-youtube fa-3x"></i>
    <div class="counter" data-target="5000">{{ given }}</div>
    <span>Given</span>
  </div>

  <div class="counter-container">
    <i class="fab fa-facebook fa-3x"></i>
    <div class="counter" [@counterAnimation]="received">{{ received }}</div>
    <span>Received</span>
  </div>
</div>
