* {
  // font-family: "Source Sans Pro", sans-serif;
  font-family: "Source Serif Pro", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
