*,
*::before,
*::after {
  box-sizing: border-box;
  // font-family: "Source Serif Pro", serif;
  font-family: "Poppins", sans-serif;
}

*,
body {
  margin: 0;
  padding: 0;
}

// html:focus-within {
//   scroll-behavior: smooth;
// }

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
