<app-nav-bar></app-nav-bar>
<div class="container">
  <img
    class="img"
    src="https://images.unsplash.com/photo-1516253593875-bd7ba052fbc5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8N3xHSzBSdkdMZlJnY3x8ZW58MHx8fHx8&auto=format&fit=crop&w=800&q=60"
    alt=""
  />
  <div class="center-one">2023 Harvest share</div>
  <div class="center-two">Give get</div>
</div>
<div class="about-container">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem sint magni
    maxime in saepe dignissimos commodi harum maiores aut? Hic.
  </p>
</div>
