.container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
  .side-nav {
    background-color: #deebec !important;
  }
}
.account-items {
  display: flex;
  justify-content: space-between;
  .account-main-wrap {
    display: flex;
    flex-direction: column;
    padding: 2em 2.5em 2em 2em;
    // background-color: #eff5f6;
    background-color: rgb(244, 243, 243);
    // width: 70em;
    .welcome-container {
      display: flex;
      justify-content: space-between;
      border-radius: 7px;
      padding: 1em;
      // background-color: #cde0ea;
      -webkit-box-shadow: 0px 0px 23px -9px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 23px -9px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 23px -9px rgba(0, 0, 0, 0.3);
      margin-bottom: 1.5em;
      background-color: #fff;
      .greeting-wrap {
        display: flex;
        gap: 0.5em;
        .welcome-text {
          padding-left: 20px;
          padding-top: 7px;
          .non-bold {
            font-weight: normal;
          }
        }
        .img-lettuce {
          background-image: url(./lettuce.png);
          width: 3em;
          padding-top: 1.6em;
        }
      }
      p {
        padding-left: 20px;
      }
    }
    .stats {
      display: flex;
      align-items: flex-end;
      .result {
        .nr {
          padding-left: 2.2em;
        }
        p {
          &:nth-last-child(2) {
            color: #e07a63;
          }
          &:last-child {
            padding-right: 2em;
          }
        }
      }
    }
  }
  .participation-container {
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    height: 25em;
    -webkit-box-shadow: 0px 0px 23px -9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 23px -9px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 23px -9px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    .participation-title {
      font-weight: normal;
      padding: 20px;
    }
  }
}

.thankyou-container {
  padding: 2em 2.5em 2.5em 2em;
  // background-color: #dce6e3;
  // background-color: #e1edee;
  // background-color: #ececec;
  // background-color: #ebf3ed;
  background-color: #aca9bb;
  .thankyou-note {
    border-radius: 7px;
    padding: 1em;
    // background-color: #ffeace;
    background-color: #fafcfe;
    -webkit-box-shadow: 0px 0px 23px -9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 23px -9px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 23px -9px rgba(0, 0, 0, 0.3);
    margin-bottom: 1em;
    .thanks-title {
      font-size: smaller;
      font-weight: bolder;
      margin: 0;
    }
    .thanks-text {
      font-size: small;
      margin: 0;
    }
  }
}
